body {
    font-family: 'Poppins';
    background-color:rgb(137, 147, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,  gray, black);
    padding: 10px;
}

.to-do {
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 30px 40px 70px;
    border-radius: 20px;
}

.to-do h2{
    color:rgb(167, 97, 41);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    color: white;
    background:rgb(165, 37, 15);
    cursor: pointer;
}

button:hover {
    background:rgb(136, 32, 32);
    
}

li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

 li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.checked {
    color: #555;
    text-decoration: line-through;
}

/* Apply checked icon to pseudo-element */
.checked::before {
    background: url(images/checked.png);
    background-size: cover;
    background-position: center;
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    top: 12px;
    left: 8px;
}

